<!DOCTYPE html>
<html>
<head>
       
<link rel="stylesheet" href="../stylesheets/style-global.css">       
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>





 <!-- SEO ALKAA -->


 <title>Quiz-App: Quiz käynnissä...</title>
 <meta name="description" content="QuizApp.fi | Quiz on parhaillaan käynnissä, mene profiilisivulle aloittaaksesi uuden pelin"> 
 <meta name="og:title" property="og:title" content="Kilpaile kavereidesi kanssa uudessa sovelluksessa!"> 
 <meta property="og:description" 
content="QuizApp.fi: Sovellus, jolla voit haastaa itsesi ja 
kaverisi kilpailuun. Rekisteröidy jo tänään, se on ilmaista!" />
 <meta property="og:url" content="http://localhost:3000/images/quiz/default.jpg/" />
 <meta name="robots" content="index, follow"> 

 <!-- SEO LOPPUU -->

</head>


<body>
    <main>

    <div class="container">

       
            <div class="row">
                <div class="col s12">
                        <h2 class="white-text center">Quiz käynnisssä</h2>    
                </div>


            </div>
            <!-- VUE ALKAA -->
            <div id="app">
                
                <p class="white-text center">Kysymys {{qNumber+1}}/{{amount}}</p>
                <div class="row">

                    <div class="center col l9">
                            <img :src="cur.imgUrl" alt="quizimage" height="300px" width="300px"/>
                            <p class="white-text center">{{cur.question}}</p>
                            <div style="width: 100px; margin-left:40%;">
                                    <input v-model="answer" placeholder="edit me">
                            </div>
                            <!-- <button v-on:click="saveAnswerAndPrevious" class="waves-effect blue darken-1 btn">Edellinen</button> -->
                            <button id="next" v-on:click="saveAnswerAndNext" class="waves-effect blue darken-1 btn">Seuraava</button>
                            <div v-if="ready">
                             
                             
                            <button v-on:click="submitQuiz" class="waves-effect blue darken-1 btn">Valmis</button>
                                 
                        </div>
                    </div>
                    <div class="col l3">
                            
                            <p class="white-text" id ="timer">{{timer}}</p>
                            <button v-on:click="showhint" class="waves-effect blue darken-1 btn">Vihje</button>
                            <p v-if="showHint" class="white-text" id ="timer">{{cur.hint}}</p>
                            <br><br><br>
                           
                             
                       
                            <p class="white-text" id ="timer">{{infoText}}</p>
                    </div>

                    <div class="col l9">
                           
                    </div>
                    
                </div>


            </div>
            <!-- VUE LOPPUU -->
    </div>

        </main>
        <footer class="page-footer blue-grey">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">WWW-Sovellukset harjoitustyö</h5>
                      <p class="grey-text text-lighten-4">Moderni web-applikaatio MEVN-stackilla.</p>
                    </div>

                    <div class="col l6 s12">
                        <a href="/logout" class="waves-effect blue darken-1 btn">Kirjaudu ulos</a>
                           
                          </div>
                   
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2018 Joonas Ryynänen
                  
                  </div>
                </div>
              </footer>
                  


    </div>

</body>


<script src="../javascripts/quiz.js"></script>

</html>