
body {

	font-family: 'Patua One', cursive;
	position:relative;
	background-color:rgba(40,57,101,.9);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	
}

main {
  flex: 1 0 auto;
}

.inputti {
	color: white;
}

.valittu {
	border: 5px solid black;
}

.select-wrapper input.select-dropdown { /*kysymysten määrä -dropdown valkoiseksi*/
	color: white;
}